---
layout: default
---

<div id="particles-js text" class="particles-js">
    <div class="hero-image">
        <img src="/assets/wireframe2.png" class="hero-logo">
        <h1 class="hero-title">The Bookery</h1>
        <h2 style="font-family: 'Roboto', sans-serif;font-size: 1.2em; font-style: italic;" class="hero-description">{{- site.tagline | escape -}}</h3>
        <!--<div id="scroll"><span id="scrolldown" class="arrow"><span></span>Scroll</span></div>-->
    </div>
    <div class="about-us index-sections content section" id="firstsection">
        <h2 class='purple-header'>About Us</h2>
        <p>{{- site.about | escape -}}</p>
        <p>Our club's name and branding stem from an online community of the same name. It was founded by Zachary Montgomery</p>
    </div>
    <div class="about-us index-sections content section">
        <h2 class='purple-header'>Get Involved</h2>
        <p>We meet weekly in the library, from 4:15 to 4:45 to discuss what we've read that week. Our tastes are widely varied and we choose a different book for every month, along with plenty of fun events all throughout the month. Come to the library and join us!</p>
        <p>Want a sneak peak into what's going on right now? Take a look at our <a class="btn instagram"  rel="noopener" rel="noreferrer" href="{{ site.instagram | escape }}" target="_blank">Instagram</a> for the latest from us.</p>
    </div>
</div>